<h1><%= @recipe.title %></h1>
<p>
  Tags:
  <% @recipe.tags.each do |tag| %>
    <%= link_to tag.name, tag_path(tag) %>
  <% end %>
</p>

<p><%= @recipe.components %></p>
<% if !@recipe.image_file_name.nil? %>
  <p><%= image_tag @recipe.image.url(:medium) %></p>
<% end %>
<p><%= @recipe.body %></p>
<p>Recipe by:
  <%= link_to @recipe.user.username, user_path(@recipe.user_id) %>
</p>

<%= link_to "<< Back to Recipes List", recipes_path %>
<% if can? :destroy, @recipe %>
  <%= link_to "Delete", recipe_path(@recipe), method: :delete, data: {confirm: "Really want to delete?"} %>
<% end %>
<% if can? :update, @recipe %>
  <%= link_to "Edit", edit_recipe_path(@recipe) %>
<% end %>

<%= render partial: 'comments/form' %>
<h3> Comments <%= @recipe.comments.size %></h3>
<%= render partial: 'recipes/comment', collection: @recipe.comments %>
